<h1>Home Page for Forgot Not</h1>
<h2>Useful Links:</h2>
	<ul>
		<li><%= link_to "Users index", users_path %></li>
		<li><%= link_to "Keyholders index", keyholders_path %></li>
		<li><%= link_to "Guests index", guests_path %></li>
	</ul>
